.nav--logo {
  max-width: 100%;
  height: 30px;
  display: flex;
  padding:10px 80% 10px 10px;
  box-shadow: 0 2px 5px rgba(0,0,0, .15);
}

.hero--grid {
  align-self: center;
  max-width: 400px;
  padding-top: 25px;
  padding-left: 40px;
}

.hero--title{
  padding-top: 10px;
  padding-left: 20px;
}
.hero--txt{
  max-width: 300px;
  padding-left: 20px;
  padding-bottom: 10px;
}


.card--container{
  max-width: 200px;
  padding-left: 15px;
  flex: 0 0 auto;         
  display: flex;          
  flex-direction: column; 
  position: relative;
  
}
.card--photo{
  max-width: 200px;
  border-radius: 10px;
}
.star--photo{
  height:10px;
  padding: 0 3px;
}
.card--review{
  color: rgba(0,0,0, .4);
  padding-left: 2px;
}
.review-container{
  margin-bottom: 0px;
}

.card--title{
  padding: 0 0;
  font-size: 13px;
  margin-top: 1px;
  margin-bottom: 1px;
}
.card--price{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
}
.price--container{
  margin-top: 0;
}

.cards--container{
  display: flex;
  overflow-x: auto;
  
}
.card--bedge{
  position: absolute;
  top: 6px;
  left: 20px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 10px;
}
 .screen {
  max-width: 490px;
 }